# Generate secrets with: openssl rand -hex 32

# CLOUDFLARE TUNNEL
CLOUDFLARE_TUNNEL_TOKEN=

# HOMEPAGE
# Comma separated — include all IPs/domains you access from
HOMEPAGE_ALLOWED_HOSTS=home.joshuaspiral.xyz

# Proxmox Datacenter > Permissions > API Tokens > Add
# Format: root@pam!tokenid=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
HOMEPAGE_VAR_PROXMOX_API_TOKEN=

# Jellyfin Dashboard > API Keys > +
HOMEPAGE_VAR_JELLYFIN_API_KEY=

# Immich top right avatar > API Keys > New API Key
HOMEPAGE_VAR_IMMICH_API_KEY=

# Paperless-ngx Settings > API > Generate token
HOMEPAGE_VAR_PAPERLESS_API_KEY=

# Sonarr Settings > General > Security > API Key
HOMEPAGE_VAR_SONARR_API_KEY=

# Radarr Settings > General > Security > API Key
HOMEPAGE_VAR_RADARR_API_KEY=

# Lidarr Settings > General > Security > API Key
HOMEPAGE_VAR_LIDARR_API_KEY=

# Prowlarr Settings > General > Security > API Key
HOMEPAGE_VAR_PROWLARR_API_KEY=

# qBittorrent Tools > Options > Web UI
HOMEPAGE_VAR_QBIT_USER=admin
HOMEPAGE_VAR_QBIT_PASS=

# Navidrome — generate token/salt:
# SALT=$(openssl rand -hex 6)
# TOKEN=$(echo -n "YOURPASSWORD$SALT" | md5sum | cut -d' ' -f1)
HOMEPAGE_VAR_NAVIDROME_USER=
HOMEPAGE_VAR_NAVIDROME_TOKEN=
HOMEPAGE_VAR_NAVIDROME_SALT=

# Uptime Kuma — leave blank, slug is used instead
HOMEPAGE_VAR_UPTIME_KUMA_URL=
HOMEPAGE_VAR_BAZARR_API_KEY=
