# Generate secrets with: openssl rand -hex 32

# PAPERLESS-NGX
PAPERLESS_SECRET_KEY=
PAPERLESS_ADMIN_USER=joshua
PAPERLESS_ADMIN_PASSWORD=
PAPERLESS_DBNAME=paperless
PAPERLESS_DBUSER=paperless
PAPERLESS_DBPASS=

# VAULTWARDEN
VAULTWARDEN_ADMIN_TOKEN=

# COUCHDB (Obsidian LiveSync)
COUCHDB_USER=admin
COUCHDB_PASSWORD=
