# Generate SLSKD_JWT_KEY with: openssl rand -hex 32
TZ=America/Toronto
PUID=1000
PGID=1000

# SLSKD — Soulseek network credentials
SLSKD_SLSK_USERNAME=
SLSKD_SLSK_PASSWORD=

# SLSKD — web UI credentials
SLSKD_USERNAME=admin
SLSKD_PASSWORD=

# SLSKD — JWT secret key
SLSKD_JWT_KEY=

# NOTE: Filebrowser default login can be found in docker logs for Filebrowser 
